@model IEnumerable<MilitaryDistrictAPI.Models.scaffolded.Subunit>

@{
    ViewData["Title"] = "Подразделения";
    Layout = "~/Views/Shared/CRUD/_LayoutIndex.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubunitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentUnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubunitType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubunitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leader.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentUnit.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubunitType.Name)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.SubunitId">
                   <img src="~/svg/pencil-square.svg">
               </a> |
               <a asp-action="Details" asp-route-id="@item.SubunitId">
                   <img src="~/svg/info-circle.svg">
               </a> |
               <a asp-action="Delete" asp-route-id="@item.SubunitId">
                   <img src="~/svg/trash-fill.svg">
               </a>
            </td>
        </tr>
}
    </tbody>
</table>
