@model IEnumerable<MilitaryDistrictAPI.Models.scaffolded.WeaponCategory>

@{
    ViewData["Title"] = "Категория вооружения";
    Layout = "~/Views/Shared/CRUD/_LayoutIndex.cshtml";
}
<table class="table">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.UnitNumber)
        </td>
        <td>
           <a asp-action="Edit" asp-route-id="@item.WeaponCategoryId">
               <img src="svg/pencil-square.svg">
           </a> |
           <a asp-action="Details" asp-route-id="@item.WeaponCategoryId">
               <img src="svg/info-circle.svg">
           </a> |
           <a asp-action="Delete" asp-route-id="@item.WeaponCategoryId">
               <img src="svg/trash-fill.svg">
           </a>
        </td>
    </tr>
}
</tbody>
</table>

