@model IEnumerable<MilitaryDistrictAPI.Models.scaffolded.Occupation>

@{
    ViewData["Title"] = "Специальности";
    Layout = "~/Views/Shared/CRUD/_LayoutIndex.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OccupationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OccupationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.OccupationId">
                   <img src="svg/pencil-square.svg">
               </a> |
               <a asp-action="Details" asp-route-id="@item.OccupationId">
                   <img src="svg/info-circle.svg">
               </a> |
               <a asp-action="Delete" asp-route-id="@item.OccupationId">
                   <img src="svg/trash-fill.svg">
               </a>
            </td>
        </tr>
}
    </tbody>
</table>
